<ion-content>

  <div id="close-button-container">
    <ion-button (click)="close()" fill="clear" color="light">
      <ion-icon name="close" slot="start"></ion-icon>
      Close
    </ion-button>
  </div>

  <ion-slides [options]="sliderOpts" #slider>

  </ion-slides>

  <div id="zoom-buttons-container">
    <ion-button (click)="zoom(false)" fill="clear" color="light">
      <ion-icon name="remove-circle-outline" slot="start"></ion-icon>
      Zoom Out
    </ion-button>
    <ion-button (click)="zoom(true)" fill="clear" color="light">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Zoom In
    </ion-button>
  </div>

</ion-content>
